<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container">
    <h2 class="border-bottom mt-4 mb-3">게시글 수정</h2>

    <div class="badge bg-light text-dark fs-5 mb-3" th:text="${eventName}"></div>

    <form th:action="@{|/board/modify/${board_id}/${article_id}?returnUrl=${returnUrl}|}" th:object="${articleUpdateForm}" method="post">
        <div class="mb-3">
            <div class="mb-1">제목</div>
            <input required type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3 d-flex">
            <div>
                <div class="mb-1">최대 모집 인원</div>
                <select name="maxRecruitNum" th:value="${articleUpdateForm.maxRecruitNum}" class="form-select" aria-label="Default select example">
                    <option th:selected="${articleUpdateForm.maxRecruitNum} == '1'">1</option>
                    <option th:selected="${articleUpdateForm.maxRecruitNum} == '2'">2</option>
                    <option th:selected="${articleUpdateForm.maxRecruitNum} == '3'">3</option>
                    <option th:selected="${articleUpdateForm.maxRecruitNum} == '4'">4</option>
                    <option th:selected="${articleUpdateForm.maxRecruitNum} == '5'">5</option>
                </select>
            </div>
            <div class="mx-5">
                <div class="mb-1">모집 성별</div>
                <select name="gender" th:value="${articleUpdateForm.gender}" class="form-select" aria-label="Default select example">
                    <option th:selected="${articleUpdateForm.gender} == '남성'">남성</option>
                    <option th:selected="${articleUpdateForm.gender} == '여성'">여성</option>
                    <option th:selected="${articleUpdateForm.gender} == '성별무관'">성별무관</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-1">모집 연령대</div>
            <div class="d-flex">
                <select name="minAge" th:value="${articleUpdateForm.minAge}" class="form-select w-25" aria-label="Default select example">
<!--                    <option th:each="i : ${#numbers.sequence(20, 50)}" th:value="${i}" th:text="${i}"></option>-->
                    <option th:selected="${articleUpdateForm.minAge} == '10'">10</option>
                    <option th:selected="${articleUpdateForm.minAge} == '20'">20</option>
                    <option th:selected="${articleUpdateForm.minAge} == '30'">30</option>
                    <option th:selected="${articleUpdateForm.minAge} == '40'">40</option>
                    <option th:selected="${articleUpdateForm.minAge} == '50'">50</option>
                </select>
                <span class="mx-3">~</span>
                <select name="maxAge" th:value="${articleUpdateForm.maxAge}" class="form-select w-25" aria-label="Default select example">
                    <option th:selected="${articleUpdateForm.maxAge} == '19'">19</option>
                    <option th:selected="${articleUpdateForm.maxAge} == '29'">29</option>
                    <option th:selected="${articleUpdateForm.maxAge} == '39'">39</option>
                    <option th:selected="${articleUpdateForm.maxAge} == '49'">49</option>
                    <option th:selected="${articleUpdateForm.maxAge} == '59'">59</option>
                </select>
            </div>
            <div class="text-danger mt-2" th:if="${#fields.hasErrors('minAge')}" >
                <span>*</span>
                <span th:errors="*{minAge}"></span>
            </div>
        </div>

        <!-- 추후 에디터 적용될 수 있음 -->
        <div class="mb-3">
            <div class="mb-1">내용</div>
            <textarea required th:field="*{contents}" class="form-control" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{|/board/${board_id}/${article_id}?returnUrl=article-detail|}" th:text="이전" class="btn btn-primary m-2"></a>
            <button type="submit" class="btn btn-primary m-2">수정</button>
        </div>
    </form>
</div>