<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container my-3">
    <div class="my-4">
        <i class="fa fa-chevron-circle-right"></i>
        <a class="fs-5 mx-1" th:href="@{|/board/${board_id}|}" th:text="${article.getBoard().getEvent().getName()}"></a>
    </div>
    <!--모집중 상태이고 게시글 작성자에게만 모집 완료 버튼 노출-->
    <div class="d-flex justify-content-end" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == article.member.username}">
        <a onclick="if(!confirm('모집을 완료하시겠습니까?')) return false;" th:if="${article.recruitStatus == true}" class="btn btn-outline-primary" th:href="@{|/together/recruit/${board_id}/${article_id}/${article.member.getId()}|}" th:text="모집완료"></a>
    </div>
    <h2 th:text="${article.title}"></h2>
    <div class="border-bottom my-2 py-2 d-flex">
        <span class="badge bg-light text-dark fs-6 me-2" th:text="${#temporals.format(article.createdAt, 'yyyy.MM.dd hh:mm')}"></span>
        <div class="badge bg-light text-dark fs-6 me-2">
            <i class="fa fa-eye me-1"></i>
            <span th:text="${article.views}"></span>
        </div>
        <span class="badge rounded-pill text-bg-primary me-3" th:if="${article.recruitStatus == true}" th:text="모집중"></span>
        <span class="badge rounded-pill text-bg-secondary me-3" th:unless="${article.recruitStatus == true}" th:text="모집완료"></span>
        </th:block>

        <div class="flex-grow-1"></div>
        <th:block
                sec:authorize="isAuthenticated()"
                th:if="${#authentication.getPrincipal().getUsername() == article.member.username}">
            <!--모집중일 때만 수정, 삭제 가능-->
            <th:block th:if="${article.recruitStatus == true}" >
                <a class="mx-1 badge text-bg-secondary" th:href="@{|/board/modify/${article.getBoard().id}/${article.id}|}" th:text="수정"></a>
                <a onclick="if(!confirm('해당 게시글을 삭제하시겠습니까?')) return false;" class="mx-1 badge text-bg-secondary" th:href="@{|/board/delete/${article.getBoard().id}/${article.id}|}" th:text="삭제"></a>
            </th:block>
        </th:block>
    </div>

    <!--글쓴이 정보-->
    <div class="card">
        <div class="card-body d-flex align-items-center">
            <i class="fa fa-user-circle fa-2x"></i>
            <div class="mx-2">
                <span class="badge bg-black">글쓴이</span>
                <span th:text="${article.getMember().getNickname()}"></span>
                <span class="mx-2">
                    <i class="fa fa-thermometer-three-quarters text-danger"></i>
                    <span class="me-2 text-danger" th:text="|${article.getMember().getMannerTemp()} &deg;|"></span>
                </span>
                <span class="badge rounded-pill text-bg-light mx-1" th:text="|${article.getMember().getAgeRange()}세|"></span>
                <th:block th:with="gender = (${#strings.equals(article.getMember().getGender(), 'female') ? '여성' : '남성'})">
                    <span class="badge rounded-pill text-bg-light mx-1" th:text="${gender}"></span>
                </th:block>
            </div>
        </div>
    </div>

    <!--event 정보--->
    <div class="card my-3">
        <div class="card-body">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">공연명</th>
                    <td>
                        <div th:text="${event.name}"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">장소</th>
                    <td>
                        <div th:text="${event.location}"></div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">일시</th>
                    <td>
                        <span th:text="${#temporals.format(event.date, 'yyyy.MM.dd')}"></span>
                        <span th:text="${#temporals.dayOfWeekName(event.date)}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">모집인원</th>
                    <td>
                        <div th:text="${article.maxRecruitNum}"></div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">내용</th>
                    <td>
                        <div th:text="${article.contents}"></div>
                    </td>
                </tr>

                </tbody>
            </table>

            <span class="badge rounded-pill text-bg-primary mx-1" th:text="|${article.ageRange}세|"></span>
            <span class="badge rounded-pill text-bg-primary mx-1" th:text="${article.gender}"></span>
        </div>
    </div>

    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(article.commentList)}개의 답변이 있습니다.|"></h5>

    <form onsubmit="spaceCheck(this); return false; "
          th:action="@{|/board/comment/write/${board_id}/${article.id}|}"
          th:object="${createForm}"
          th:if="${article.recruitStatus == true}"
          method="post" class="mt-2">
        <!--     댓글 작성-->
        <div class = "d-flex justify-content-start align-items-center">
            <textarea th:field="*{contents}" class="form-control" rows="3"></textarea>
            <!--            <input type="text" name="query" placeholder="검색어">-->
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </div>
        <!--     비밀 표시-->
        <div class="form-check ms-5 align-items-center">
            <input type="checkbox" th:field="*{secretStatus}" class="form-check-input" id="check">
            <label class="form-check-label" for="check">비밀</label>
        </div>
    </form>

    <!-- 답변 반복 시작 -->
    <div th:each="comment : ${commentList}">

        <div th:if="${comment.parent == null}" class="card my-3 card-body">

            <!--            th:if="${article.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}"-->
            <div th:classappend="${comment.id}">
                <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == article.member.username or #authentication.getPrincipal().getUsername() == comment.member.username}">
                    <input type="hidden"  th:text="${comment.contents}" class="card-text fs-6" style="white-space: pre-line;">
                </div>

                <div sec:authorize="isAuthenticated()" th:unless="${#authentication.getPrincipal().getUsername() == article.member.username or #authentication.getPrincipal().getUsername() == comment.member.username}">
                    <div class="text-black-50 fs-6" th:if="${true} == ${comment.secretStatus}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                        <input type="hidden" style="white-space: pre-line;" >비밀 댓글 입니다.</input>
                    </div>
                    <div th:unless="${true} == ${comment.secretStatus}">
                        <input type="hidden"  th:text="${comment.contents}" class="card-text fs-6" style="white-space: pre-line;">
                    </div>
                </div>
            </div>


            <form class="collapse" th:classappend="'multi-collapse-'+${comment.id}" th:action="@{|/board/comment/modify/${board_id}/${article_id}/${comment.id}|}" th:object="${createForm}" method="post">
                <div class="form-group">
                    <textarea class="form-control" id="comment-content" rows="3" name="contents" th:text="${comment.contents}"></textarea>
                </div>
                <input type="hidden" id="comment-id" value="{{id}}">
                <input type="hidden" id="comment-author" value="{{author}}">
                <div class="d-flex justify-content-start form-check ms-2 align-items-center">
                    <div class="align-middle">

                        <input type="checkbox" id="check" th:field="*{secretStatus}" class="form-check-input">
                        <label class="form-check-label" for="check">비밀</label>
                    </div>
                    <button type="submit" class="btn btn-primary ms-2 my-2">수정 완료</button>
                </div>

            </form>


            <div th:classappend="${comment.id}" >
                <div class="d-flex justify-content-start fs-6 align-items-center">

                    <div th:if="${article.member == comment.member}"  class="badge bg-light text-secondary p-2 text-start ">
                        <div class="p-1 mb-1 bg-primary text-white" th:text="글쓴이"></div>
                    </div>
                    <div th:unless="${article.member == comment.member}"  class="badge bg-light text-secondary p-2 text-start ">
                        <div class="p-1 mb-1 bg-primary text-white" th:text="${comment.member.nickname}"></div>
                    </div>
                    <div class="badge bg-light text-secondary p-2 text-start ">
                        <div th:text="${#temporals.format(comment.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>

                    <div class="my-3">
                        <div >
                            <a href="#" sec:authorize="isAuthenticated()" th:if="${article.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}" class="btn btn-sm btn-outline-secondary" th:onclick="findHideId([[${comment.id}]])" data-bs-toggle="collapse" th:attr="data-bs-target='.multi-collapse-'+${comment.id}">수정</a>
                            <a href="javascript:void(0);"  sec:authorize="isAuthenticated()" th:if="${article.member != null and #authentication.getPrincipal().getUsername() == comment.member.username}" th:data-uri="@{|/board/comment/delete/${board_id}/${article_id}/${comment.id}|}" class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>

                        </div>
                    </div>

                </div>
            </div>


            <!--자식 댓글-->
            <div th:each="child : ${comment.childList}">

                <div class="d-flex justify-content-start m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right m-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                    </svg>

                    <div th:classappend="${child.id}">
                        <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == article.member.username or #authentication.getPrincipal().getUsername() == child.member.username}">
                            <input type="hidden"  th:text="${child.contents}" class="card-text fs-6" style="white-space: pre-line;">
                        </div>

                        <div sec:authorize="isAuthenticated()" th:unless="${#authentication.getPrincipal().getUsername() == article.member.username or #authentication.getPrincipal().getUsername() == child.member.username}">
                            <div th:if="${true} == ${child.secretStatus}">

                                <!--현재 로그인한 사람 == 부모 댓글 작성자 -->
                                <div th:if="${#authentication.getPrincipal().getUsername() == comment.member.username}">

                                    <div th:if="${article.member.username == child.member.username}">
                                        <input type="hidden"  th:text="${child.contents}" class="card-text fs-6" style="white-space: pre-line;">
                                    </div>
                                    <div class="text-black-50" th:unless="${article.member.username == child.member.username}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                        </svg>
                                        <input type="hidden" class="text-secondary fs-6" style="white-space: pre-line;" >비밀 댓글 입니다.</input>
                                    </div>
                                </div>

                                <div class="text-black-50" th:unless="${#authentication.getPrincipal().getUsername() == comment.member.username}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                    </svg>
                                    <input type="hidden" class="text-secondary fs-6" style="white-space: pre-line;" >비밀 댓글 입니다.</input>
                                </div>
                            </div>
                            <div th:unless="${true} == ${child.secretStatus}">
                                <input type="hidden"  th:text="${child.contents}" class="card-text fs-6" style="white-space: pre-line;">
                            </div>
                        </div>
                    </div>

                </div>

                <form class="collapse" th:classappend="'multi-collapse-'+${child.id}" th:action="@{|/board/comment/modify/${board_id}/${article_id}/${child.id}|}" th:object="${createForm}" method="post">
                    <div class="form-group">
                        <textarea class="form-control" id="comment-content" rows="3" name="contents" th:text="${child.contents}"></textarea>
                    </div>
                    <div class="d-flex justify-content-start form-check ms-2 align-items-center">
                        <div class = "align-middle">
                            <input type="checkbox" th:field="*{secretStatus}" class="form-check-input">
                            <label class="form-check-label" for="check">비밀</label>
                        </div>
                        <button type="submit" class="btn btn-primary ms-2 my-2">수정 완료</button>
                    </div>
                </form>

                <div th:classappend="${child.id}" >
                    <div class="d-flex justify-content-start fs-6 ms-4 align-items-center">

                        <div th:if="${article.member == child.member}"  class="badge bg-light text-secondary p-2 text-start ">
                            <div class="p-1 mb-1 bg-primary text-white" th:text="글쓴이"></div>
                        </div>
                        <div th:unless="${article.member == child.member}"  class="badge bg-light text-secondary p-2 text-start ">
                            <div class="p-1 mb-1 bg-primary text-white" th:text="${child.member.nickname}"></div>
                        </div>

                        <div class="badge bg-light text-secondary p-2 text-start ">
                            <div th:text="${#temporals.format(child.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>

                        <div class="my-3">
                            <div>
                                <a href="#" sec:authorize="isAuthenticated()" th:if="${article.member != null and #authentication.getPrincipal().getUsername() == child.member.username}" class="btn btn-sm btn-outline-secondary" th:onclick="findHideId([[${child.id}]])" data-bs-toggle="collapse" th:attr="data-bs-target='.multi-collapse-'+${child.id}">수정</a>
                                <a href="javascript:void(0);"  sec:authorize="isAuthenticated()" th:if="${article.member != null and #authentication.getPrincipal().getUsername() == child.member.username}" th:data-uri="@{|/board/comment/delete/${board_id}/${article_id}/${child.id}|}" class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
                            </div>
                        </div>

                        <!--                        <a href="#" sec:authorize="isAuthenticated()" th:if="${article.member != null and #authentication.getPrincipal().getUsername() == child.member.username}" class="btn btn-sm btn-outline-secondary" th:onclick="findHideId([[${child.id}]])" data-bs-toggle="collapse" th:attr="data-bs-target='.multi-collapse-'+${child.id}">수정</a>-->


                        <!--                        <div class="my-3">-->
                        <!--                            <a href="javascript:void(0);" th:data-uri="@{|/board/comment/delete/${board_id}/${article_id}/${child.id}|}"-->
                        <!--                               class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>-->
                        <!--                        </div>-->

                    </div>
                </div>


            </div>
            <form onsubmit="spaceCheck(this); return false;" th:action="@{|/board/comment/write/${board_id}/${article.id}/${comment.id}|}"
                  th:object="${createForm}"
                  th:if="${article.recruitStatus == true}"
                  method="post" class="my-3">

                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </div>
                <!--        <div th:replace="form_errors :: formErrorsFragment"></div>-->
                <div class = "d-flex justify-content-start m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right m-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    <textarea th:field="*{contents}" class="form-control" rows="1" style="background-color:#f6f6f6;"></textarea>
                    <input type="submit" value="답변등록" class="btn btn-primary my-2">
                </div>

                <div class="form-check ms-5 align-items-center">
                    <input type="checkbox" th:field="*{secretStatus}" class="form-check-input" id="check">
                    <label class="form-check-label" for="check">비밀</label>
                </div>
            </form>

        </div>
    </div>

    <!--    Todo
            th:object="${answerForm}" post요청
            th:action="@{|/answer/create/${question.id}|}"
            sec:authorize="isAnonymous(), isAutthenticated() 추가
    -->




</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    function findHideId(id){
        const find = document.getElementsByClassName(id);
        console.log(find.length);
        for(var i = 0; i < find.length; i++){
            find[i].style.display ='none';

        }
    }

    function spaceCheck(form){

        const isSpace = form.querySelector('.form-control').value.trim();
        if (isSpace.length == 0) {
            alert("내용을 입력해주세요.");
            // form.query.focus();
            return;
        }

        form.submit();
    }

</script>
</html>
