<!doctype html>
<html
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://thymeleaf.org"
		layout:decorate="~{fragment/layout}"
>
<head>
	<title>Calendar 04</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body layout:fragment="content">
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section" th:if="${#httpServletRequest.getParameter('category')}=='baseball'">Baseball Calendar</h2>
				<h2 class="heading-section" th:if="${#httpServletRequest.getParameter('category')}=='soccer'">Soccer Calendar</h2>
				<h2 class="heading-section" th:if="${#httpServletRequest.getParameter('category')}=='basketball'">Basketball Calendar</h2>
				<h2 class="heading-section" th:if="${#httpServletRequest.getParameter('category')}=='musical'">Musical Calendar</h2>
				<h2 class="heading-section" th:if="${#httpServletRequest.getParameter('category')}=='concert'">Concert Calendar</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="content w-100">
					<div class="calendar-container">
						<div class="calendar">
							<div class="year-header">
								<span class="left-button fa fa-chevron-left" id="prev"> </span>
								<span class="year" id="label"></span>
								<span class="right-button fa fa-chevron-right" id="next"> </span>
							</div>
							<table class="months-table w-100">
								<tbody>
								<tr class="months-row">
									<td class="month">Jan</td>
									<td class="month">Feb</td>
									<td class="month">Mar</td>
									<td class="month">Apr</td>
									<td class="month">May</td>
									<td class="month">Jun</td>
									<td class="month">Jul</td>
									<td class="month">Aug</td>
									<td class="month">Sep</td>
									<td class="month">Oct</td>
									<td class="month">Nov</td>
									<td class="month">Dec</td>
								</tr>
								</tbody>
							</table>

							<table class="days-table w-100">
								<td class="day">Sun</td>
								<td class="day">Mon</td>
								<td class="day">Tue</td>
								<td class="day">Wed</td>
								<td class="day">Thu</td>
								<td class="day">Fri</td>
								<td class="day">Sat</td>
							</table>
							<div class="frame">
								<table class="dates-table w-100">
									<tbody class="tbody">
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="events-container">
					</div>
					<div class="dialog" id="dialog">
						<form class="form" id="form">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>

