<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container my-3">
    <div th:each="event : ${paging}" class="card m-2">
        <div class="card-body">
            <div th:text="${event.name}"></div>
            <div th:text="${event.location}"></div>
            <div th:text="${#temporals.format(event.date, 'yyyy.MM.dd')}"></div>
            <div class="d-flex justify-content-end">
                <a th:href="@{|/board/${event.id}|}">
                    모집 게시판 바로가기
                </a>
            </div>
        </div>
    </div>
</div>