<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content="" />
    <meta name="keywords" content="free template, bootstrap, bootstrap4" />

    <title>Play With Me</title>
</head>
<body layout:fragment="content">

<div class="section-4" style="padding: 0px; margin-top: 10px;">

    <!--    <div class="container">-->
    <!--        <div class="row mb-4 align-items-center">-->
    <!--            <div class="col-6">-->
    <!--                <h2 class="line-top">Your Own D-DAY</h2>-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <th:block th:replace ="~{/d_day :: d_day}"> </th:block>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-6">
                <!--                <th:block th:if="${check} == 'empty'">-->
                <!--                    <h2 class="line-top">Recommended Events</h2>-->
                <!--                </th:block>-->
                <!--                <th:block th:if="${check} == 'full'">-->
                <!--                    <h2 class="line-top">Your Own D-DAY</h2>-->
                <!--                </th:block>-->
                <!--                <h2 class="line-top">Your Own D-DAY</h2>-->
            </div>
        </div>

        <div th:replace ="/d_day :: d_day">

        </div>
    </div>
</div>

<!--승연시작-->
<div class="container my-5">
    <div class="row row-cols-5">
        <div class="px-1">
            <div class="card category-card" onclick="location.href='/event?category=baseball'" style="cursor: pointer; border: none; border-radius:20px;">
                <div class="card-body d-flex flex-column align-items-center rounded-2">
                    <div class="d-flex justify-content-center">
                        <img src="/image/baseball4.png" class="w-50">
                    </div>
                    <div class="fs-4 text-center mt-3">야구</div>
                </div>
            </div>
        </div>
        <div class="px-1">
            <div class="card category-card" onclick="location.href='/event?category=soccer'" style="cursor: pointer; border: none; border-radius:20px;">
                <div class="card-body d-flex flex-column align-items-center rounded-2">
                    <div class="d-flex justify-content-center">
                        <img src="/image/soccer3.png" class="w-50">
                    </div>
                    <div class="fs-4 text-center mt-3">축구</div>
                </div>
            </div>
        </div>
        <div class="px-1">
            <div class="card category-card" onclick="location.href='/event?category=basketball'" style="cursor: pointer; border: none; border-radius:20px;">
                <div class="card-body d-flex flex-column align-items-center rounded-2">
                    <div class="d-flex justify-content-center">
                        <img src="/image/basketball3.png" class="w-50">
                    </div>
                    <div class="fs-4 text-center mt-3">농구</div>
                </div>
            </div>
        </div>
        <div class="px-1">
            <div class="card category-card" onclick="location.href='/event?category=musical'" style="cursor: pointer; border: none; border-radius:20px;">
                <div class="card-body d-flex flex-column align-items-center rounded-2">
                    <div class="d-flex justify-content-center">
                        <img src="/image/musical3.png" class="w-50">
                    </div>
                    <div class="fs-4 text-center mt-3">뮤지컬</div>
                </div>
            </div>
        </div>
        <div class="px-1">
            <div class="card category-card" onclick="location.href='/event?category=concert'" style="cursor: pointer;  border: none; border-radius:20px;">
                <div class="card-body d-flex flex-column align-items-center rounded-2">
                    <div class="d-flex justify-content-center">
                        <img src="/image/concert3.png" class="card-img w-50">
                    </div>
                    <div class="fs-4 text-center mt-3">콘서트</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--승연끝-->


<!--디데이자리-->


<div class="section">
    <div class="container">
        <div class="row mb-1">
            <div class="col-lg-7">
                <h3 class="mb-4"> <img src="image/podium.png"> &nbsp; PWM 카테고리별 인기 이벤트</h3>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div style="border-radius:10px;" class="blog_entry">
                    <a href="single.html"><img src="image/topEvent/topBaseball.jpg" class="img-fluid"></a>
                    <div style="border-radius:10px; height:220px;" class="p-4 bg-white">
                        <h3 th:if="${topBaseball}==null"><a href="single.html"></a>  야구 </h3>
                        <h3 th:if="${topBaseball}!=null"><a href="single.html"></a>  야구 : [[${topBaseball?.name}]]</h3>

                        <span th:if="${topBaseball}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${topBaseball}!=null" class="date">  [[${#strings.substring(topBaseball?.date,0,10)}]]</span>

                        <p th:if="${topBaseball}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${topBaseball}!=null"> [[${topBaseball?.location}]]</p>

                        <p th:if="${topBaseball}==null" class="more"><a th:href="@{|/event?category=baseball|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${topBaseball}!=null" class="more"><a th:href="@{|/board/${topBaseballBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div style="border-radius:10px;" class="blog_entry">
                    <a href="single.html"><img src="image/topEvent/topSoccer.jpg" class="img-fluid"></a>
                    <div style="border-radius:10px;  height:220px;" class="p-4 bg-white">
                        <h3 th:if="${topSoccer}==null"><a href="single.html"></a>  축구 </h3>
                        <h3 th:if="${topSoccer}!=null"><a href="single.html"></a>  축구 : [[${topSoccer?.name}]]</h3>

                        <span th:if="${topSoccer}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${topSoccer}!=null" class="date"> [[${#strings.substring(topSoccer?.date,0,10)}]]</span>

                        <p th:if="${topSoccer}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${topSoccer}!=null"> [[${topSoccer?.location}]]</p>

                        <p th:if="${topSoccer}==null" class="more"><a th:href="@{|/event?category=soccer|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${topSoccer}!=null" class="more"><a th:href="@{|/board/${topSoccerBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div style="border-radius:10px;" class="blog_entry">
                    <a href="single.html"><img src="image/topEvent/topBasketball.jpg" class="img-fluid"></a>
                    <div style="border-radius:10px; height:220px;" class="p-4 bg-white">
                        <h3 th:if="${topBasketball}==null"><a href="single.html"></a> 농구 </h3>
                        <h3 th:if="${topBasketball}!=null"><a href="single.html"></a> 농구 : [[${topBasketball?.name}]]</h3>

                        <span th:if="${topBasketball}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${topBasketball}!=null" class="date"> [[${#strings.substring(topBasketball?.date,0,10)}]]</span>

                        <p th:if="${topBasketball}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${topBasketball}!=null"> [[${topBasketball?.location}]]</p>

                        <p th:if="${topBasketball}==null" class="more"><a th:href="@{|/event?category=basketball|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${topBasketball}!=null" class="more"><a th:href="@{|/board/${topBasketballBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="row">


                <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                    <div style="border-radius:10px;" class="blog_entry">
                        <a href="single.html"><img src="image/topEvent/topMusical.jpg" class="img-fluid"--></a>
                        <div style="border-radius:10px;  height:220px;" class="p-4 bg-white">
                            <h3 th:if="${topMusical}==null"><a href="single.html"></a> 뮤지컬 </h3>
                            <h3 th:if="${topMusical}!=null"><a href="single.html"></a> 뮤지컬 : [[${topMusical?.name}]]</h3>

                            <span th:if="${topMusical}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                            <span th:if="${topMusical}!=null" class="date"> [[${#strings.substring(topMusical?.date,0,10)}]]</span>

                            <p th:if="${topMusical}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                            <p th:if="${topMusical}!=null"> [[${topMusical?.location}]]</p>

                            <p th:if="${topMusical}==null" class="more"><a th:href="@{|/event?category=musical|}">이벤트 캘린더로 이동하기</a></p>
                            <p th:if="${topMusical}!=null" class="more"><a th:href="@{|/board/${topMusicalBoard.id}|}">모집 게시판으로 이동하기</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                    <div style="border-radius:10px;" class="blog_entry">
                        <a href="single.html"><img src="image/topEvent/topConcert.jpg" class="img-fluid"></a>
                        <div style="border-radius:10px;  height:220px;" class="p-4 bg-white">
                            <h3 th:if="${topConcert}==null"><a href="single.html"></a> 콘서트 </h3>
                            <h3 th:if="${topConcert}!=null"><a href="single.html"></a> 콘서트 : [[${topConcert?.name}]]</h3>

                            <span th:if="${topConcert}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                            <span th:if="${topConcert}!=null" class="date"> [[${#strings.substring(topConcert?.date,0,10)}]]</span>

                            <p th:if="${topConcert}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                            <p th:if="${topConcert}!=null"> [[${topConcert?.location}]]</p>

                            <p th:if="${topConcert}==null" class="more"><a th:href="@{|/event?category=concert|}">이벤트 캘린더로 이동하기</a></p>
                            <p th:if="${topConcert}!=null" class="more"><a th:href="@{|/board/${topConcertBoard.id}|}">모집 게시판으로 이동하기</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



</body>
</html>
