<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content="" />
    <meta name="keywords" content="free template, bootstrap, bootstrap4" />

    <title>PWM Main Page</title>
</head>
<body layout:fragment="content">

<div class="custom-hero" sec:authorize="isAnonymous()">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="hero-heading">Play With Me</h1>
                <p><br></p>

                <div  class="line js-line mx-auto mb-3 my-10"></div>
                <p><br></p>
                <p class="sub-text">행사를 함께 갈 동행인을 모집해보세요! 리뷰기능과 매너온도, <br> 원하는 모집 상대 필터링을 통해 맞춤화된 모집이 가능합니다 </p>

                <p class="sub-text">Study With Me? 우리는 Play With Me!</p>
            </div>
        </div>
    </div>
</div>



<div class="section-4" sec:authorize="isAuthenticated()">

    <!--    <div class="container">-->
    <!--        <div class="row mb-4 align-items-center">-->
    <!--            <div class="col-6">-->
    <!--                <h2 class="line-top">Your Own D-DAY</h2>-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <th:block th:replace ="~{/d_day :: d_day}"> </th:block>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-6">
                <!--                <th:block th:if="${check} == 'empty'">-->
                <!--                    <h2 class="line-top">Recommended Events</h2>-->
                <!--                </th:block>-->
                <!--                <th:block th:if="${check} == 'full'">-->
                <!--                    <h2 class="line-top">Your Own D-DAY</h2>-->
                <!--                </th:block>-->
                <h2 class="line-top">Your Own D-DAY</h2>
            </div>
        </div>

        <div th:replace ="/d_day :: d_day">

        </div>
    </div>
</div>





<div class="section">
    <div class="container">
        <div class="row mb-1">
            <div class="col-lg-7">
                <h2 class="mb-4">Most Popular Events By Category</h2>
                <div class="line my-3"></div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div class="blog_entry">
                    <a href="single.html"><!--img src="images/img_h_3-min.jpg" alt="Free Website Template by Untree.co" class="img-fluid"--></a>
                    <div class="p-4 bg-white">
                        <h3 th:if="${baseballTop}==null"><a href="single.html"></a> ✨ Baseball </h3>
                        <h3 th:if="${baseballTop}!=null"><a href="single.html"></a> ✨ Baseball : [[${baseballTop?.name}]]</h3>

                        <span th:if="${baseballTop}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${baseballTop}!=null" class="date">  [[${#strings.substring(baseballTop?.date,0,10)}]]</span>

                        <p th:if="${baseballTop}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${baseballTop}!=null"> [[${baseballTop?.location}]]</p>

                        <p th:if="${baseballTop}==null" class="more"><a th:href="@{|/event?category=baseball|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${baseballTop}!=null" class="more"><a th:href="@{|/board/${baseballTopBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div class="blog_entry">
                    <a href="single.html"><!--img src="images/img_h_3-min.jpg" alt="Free Website Template by Untree.co" class="img-fluid"--></a>
                    <div class="p-4 bg-white">
                        <h3 th:if="${soccerTop}==null"><a href="single.html"></a> ✨ Soccer </h3>
                        <h3 th:if="${soccerTop}!=null"><a href="single.html"></a> ✨ Soccer : [[${soccerTop?.name}]]</h3>

                        <span th:if="${soccerTop}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${soccerTop}!=null" class="date"> [[${#strings.substring(soccerTop?.date,0,10)}]]</span>

                        <p th:if="${soccerTop}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${soccerTop}!=null"> [[${soccerTop?.location}]]</p>

                        <p th:if="${soccerTop}==null" class="more"><a th:href="@{|/event?category=soccer|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${soccerTop}!=null" class="more"><a th:href="@{|/board/${soccerTopBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                <div class="blog_entry">
                    <a href="single.html"><!--img src="images/img_h_3-min.jpg" alt="Free Website Template by Untree.co" class="img-fluid"--></a>
                    <div class="p-4 bg-white">
                        <h3 th:if="${basketballTop}==null"><a href="single.html"></a> ✨ Basketball </h3>
                        <h3 th:if="${basketballTop}!=null"><a href="single.html"></a> ✨ Basketball : [[${basketballTop?.name}]]</h3>

                        <span th:if="${basketballTop}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                        <span th:if="${basketballTop}!=null" class="date"> [[${#strings.substring(basketballTop?.date,0,10)}]]</span>

                        <p th:if="${basketballTop}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                        <p th:if="${basketballTop}!=null"> [[${basketballTop?.location}]]</p>

                        <p th:if="${basketballTop}==null" class="more"><a th:href="@{|/event?category=basketball|}">이벤트 캘린더로 이동하기</a></p>
                        <p th:if="${basketballTop}!=null" class="more"><a th:href="@{|/board/${basketballTopBoard.id}|}">모집 게시판으로 이동하기</a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="row">


                <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                    <div class="blog_entry">
                        <a href="single.html"><!--img src="images/img_h_3-min.jpg" alt="Free Website Template by Untree.co" class="img-fluid"--></a>
                        <div class="p-4 bg-white">
                            <h3 th:if="${musicalTop}==null"><a href="single.html"></a> ✨ Musical </h3>
                            <h3 th:if="${musicalTop}!=null"><a href="single.html"></a> ✨ Musical : [[${musicalTop?.name}]]</h3>

                            <span th:if="${musicalTop}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                            <span th:if="${musicalTop}!=null" class="date"> [[${#strings.substring(musicalTop?.date,0,10)}]]</span>

                            <p th:if="${musicalTop}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                            <p th:if="${musicalTop}!=null"> [[${musicalTop?.location}]]</p>

                            <p th:if="${musicalTop}==null" class="more"><a th:href="@{|/event?category=musical|}">이벤트 캘린더로 이동하기</a></p>
                            <p th:if="${musicalTop}!=null" class="more"><a th:href="@{|/board/${musicalTopBoard.id}|}">모집 게시판으로 이동하기</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
                    <div class="blog_entry">
                        <a href="single.html"><!--img src="images/img_h_3-min.jpg" alt="Free Website Template by Untree.co" class="img-fluid"--></a>
                        <div class="p-4 bg-white">
                            <h3 th:if="${concertTop}==null"><a href="single.html"></a> ✨ Concert </h3>
                            <h3 th:if="${concertTop}!=null"><a href="single.html"></a> ✨ Concert : [[${concertTop?.name}]]</h3>

                            <span th:if="${concertTop}==null" class="date"> 아직 생성된 모집 게시글이 없습니다.</span>
                            <span th:if="${concertTop}!=null" class="date"> [[${#strings.substring(concertTop?.date,0,10)}]]</span>

                            <p th:if="${concertTop}==null"> 첫 번째로 모집 게시글을 적어보세요!</p>
                            <p th:if="${concertTop}!=null"> [[${concertTop?.location}]]</p>

                            <p th:if="${concertTop}==null" class="more"><a th:href="@{|/event?category=concert|}">이벤트 캘린더로 이동하기</a></p>
                            <p th:if="${concertTop}!=null" class="more"><a th:href="@{|/board/${concertTopBoard.id}|}">모집 게시판으로 이동하기</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>








</body>
</html>
