<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">동행 인원 리스트</h5>

    <form method="post">
        <div class="my-5 d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-body mx-3">
                    <div class="mb-3">평가할 회원의 닉네임을 클릭해주세요.</div>
                    <div th:each="together : ${togethers}">
                        <li>
                            <a th:href="@{/}" th:text="${together.getMember().getNickname()}"></a>
                        </li>
<!--                        <div th:if="${#strings.equals(#authentication.principal.username, together.getMember().getUsername())}"></div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a th:href="@{|/board/${board_id}/${article_id}|}" th:text="취소" class="btn btn-primary m-2"></a>
        </div>
    </form>
</div>