<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h1>마이페이지</h1>

    <div class="px-3">
        <!-- 프로필 부분 -->
        <div class="my-4">
            <h3>프로필</h3>
            <div class="d-flex justify-content-around p-5 my-3 bg-primary text-white rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor"
                     class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <div class="align-self-center">
                    <h1 th:text="${memberInfo.nickname}"></h1>
                </div>
                <div class="align-self-center">
                    <h5 th:text="'나이대 : ' + ${memberInfo.ageRange} + '대'">나이대</h5>
                    <h5 th:text="'이메일 : ' + ${memberInfo.email}">이메일</h5>
                    <h5 th:text="'가입일자 : ' + ${memberInfo.createDate}">가입일자</h5>
                </div>
            </div>
        </div>
        <!-- 매너온도 부분 -->
        <div class="my-4">
            <h3>사용자 매너온도</h3>
            <div class="px-4 py-2 my-3 ">
                <div class="d-flex justify-content-end">
                    <h5 th:text="'현재온도 : ' + ${memberInfo.mannerTemp} + '°C'">36.5</h5>
                </div>
                <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" th:style="|width: ${memberInfo.mannerTemp}%|"
                         th:aria-valuenow="${memberInfo.mannerTemp}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- 메뉴 부분 -->
        <div class="my-4">
            <h3>마이메뉴</h3>
            <div class="px-4 py-2 my-3 d-flex justify-content-between">
                <!-- timeline -->
                <div class="justify-content-center">
                    <a th:href="@{|/mypage/timeline|}">
                        <div class="btn btn-outline-primary border border-primary border-4">
                            <img th:src="@{/static/image/} + 'timeline.png'" th:alt="timeline">
                        </div>
                    </a>
                    <div class="d-flex justify-content-center my-3">
                        <h5>타임라인</h5>
                    </div>
                </div>
                <!-- d-day -->
                <div class="justify-content-center">
                    <a th:href="@{|/mypage/d-day|}">
                        <div class="btn btn-outline-primary border border-primary border-4">
                            <img th:src="@{/static/image/} + 'd-day.png'" th:alt="D-day">
                        </div>
                    </a>
                    <div class="d-flex justify-content-center my-3">
                        <h5>D-day</h5>
                    </div>
                </div>
                <!-- together -->
                <div class="justify-content-center">
                    <a th:href="@{|/mypage/together|}">
                        <div class="btn btn-outline-primary border border-primary border-4">
                            <img th:src="@{/static/image/} + 'together.png'" th:alt="together">
                        </div>
                    </a>
                    <div class="d-flex justify-content-center my-3">
                        <h5>동행 관리</h5>
                    </div>
                </div>
                <!-- review -->
                <div class="justify-content-center">
                    <a th:href="@{|/review/articles|}">
                        <div class="btn btn-outline-primary border border-primary border-4">
                            <img th:src="@{/static/image/} + 'review.png'" th:alt="review">
                        </div>
                    </a>
                    <div class="d-flex justify-content-center my-3">
                        <h5>리뷰 관리</h5>
                    </div>
                </div>
                <!-- articles -->
                <div class="justify-content-center">
                    <a th:href="@{|/mypage/articles|}">
                        <div class="btn btn-outline-primary border border-primary border-4">
                            <img th:src="@{/static/image/} + 'articles.png'" th:alt="articles">
                        </div>
                    </a>
                    <div class="d-flex justify-content-center my-3">
                        <h5>게시글 관리</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>