<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">모집 인원 확정</h5>

    <form th:action="@{|/together/recruit/${board_id}/${article_id}/${member_id}|}" th:object="${togetherForm}" method="post">
        <div class="my-5 d-flex justify-content-center">

            <div class="card w-50">
                <div class="card-body">
                    <div class="mx-3">동행할 회원의 닉네임을 *최소 1개 이상 선택해주세요.</div>
                    <div th:each="member : ${recruitMember}">
                        <div class="form-check m-3">
                            <input class="form-check-input" th:field="*{ids}" th:value="${member.id}" type="checkbox">
                            <label class="form-check-label" th:for="${#ids.prev('ids')}" th:text="${member.nickname}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a th:href="@{|/board/${board_id}/${article_id}|}" th:text="이전" class="btn btn-primary m-2"></a>
<!--            <button onclick="if(!confirm('동행 인원을 확정하시겠습니까?')) return false;" type="submit" class="btn btn-primary m-2">확인</button>-->
            <button onclick="isCheck(this.form); return false;" type="submit" class="btn btn-primary m-2">확인</button>
        </div>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>

<!-- 동행 인원 체크 메서드-->
    function isCheck(){
        var cnt = 0;
        for(var i = 0; i < document.getElementsByTagName('input').length; i++){
            if(document.getElementsByTagName('input')[i].getAttribute('type') == 'checkbox')
                if(document.getElementsByTagName('input')[i].checked)
                    cnt++;
        }


        // 최소 1개 선택했는지
        if(cnt <= 0){
            alert('최소 1개 이상은 선택해주세요');
            return;
        }

        // 모집 완료 할건지 재질문
        if(!confirm('모집을 완료하시겠습니까?')){
            return;
        }

        form.submit();

    }
</script>
</html>

