<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<div layout:fragment="content" class="container my-3">
    <div th:text="|리뷰하고 싶은 동행 정보를 클릭해주세요.|" class="m-2"></div>
    <div th:if="${#lists.size(articleList) == 0}" class="card m-5">
        <div class="card-body d-flex justify-content-center">
            <div class="p-2">리뷰 가능한 동행 정보가 없습니다!</div>
        </div>
    </div>
    <div class="m-5">
        <div th:each="article : ${articleList}" class="card my-2">
            <div class="card-body d-flex">
                <a class="mx-2" th:href="@{|/board/${article.board.id}/${article.id}|}" th:text="${article.id}"></a>
                <span class="mx-1" th:text="${article.board.event.name}"></span>
                <span class="mx-1" th:text="${#temporals.format(article.board.event.date, 'yyyy.MM.dd')}"></span>
                <span class="flex-grow-1"></span>
                <a class="review-btn badge text-bg-primary fs-6" th:href="@{|/review/${article.id}|}" th:text="리뷰하기"></a>
            </div>
        </div>
    </div>
</div>
